name: Release

on:
    push:
        branches:
            - main

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4
              with:
                fetch-depth: 2 # Fetch the last 2 commits because net-changesets publish is comparing those two commits

            - name: Setup Node.js 20.x
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - name: Install Dependencies
              run: yarn

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 8.0.x

            - name: Install net-changesets tool
              run: dotnet tool install solarwinds.changesets --global --version 0.1.4

            - name: Show net-changesets tool version
              run: changeset --version

            - name: Ensure NugetFolderSource folder exists
              run: mkdir -p NugetFolderSource

            - name: Create Release Pull Request or Publish to npm
              id: changesets
              uses: changesets/action@v1.5.3
              with:
                version: changeset version
                publish: changeset publish
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              continue-on-error: true # If there are not changesets we do not want to fail
